:local {
	.root {
		flex: 0 0 33.333333%;
		padding: 100px 10px 0 10px;
		cursor: pointer;
	}

	.image {
		border-radius: 50%;
		height: 72px;
		margin-right: 20px;
		width: 72px;
	}

	.name {
		margin-top: 0;
	}
}
