@import 'variables/colors';

:local {
	.root {
		display: flex;
		flex-wrap: wrap;
		margin: 20px;
	}

	.searchForm {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		position: fixed;
		background-color: $white;
	}

	.settingsButton {
		position: absolute;
		top: 0;
		right: 0;
	}
}
